*     {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .brown {
      background-color: #8b5e3c;
      height: 30px;
      text-align: center;
    }

    .tan {
      background-color: #d2b48c;
      min-height: calc(100vh - 60px);
      /* 60px is the combined height of header and footer */
      text-align: center;
    }

    @media screen and (min-width: 768px) {

      /* center text on bigger screens */
      h1,
      h2,
      h3 {
        margin: auto;
      }

      p {
        text-align: left;
        margin: 0 auto;
        width: 80%;
      }
    }